colorFondo = #1cc198
titleColor = #ffffff
ancho = 600px
$ancho = 720px
header
    width $ancho
    margin auto
    background-color colorFondo
    text-align center
    .titulo
        color titleColor
        font-size 70px
    .parrafo
        width ancho
        margin auto
        font-size 20px